.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    color: #000;
    /* border-bottom: 1px solid #3c3c3c; */
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    /* background: linear-gradient(#0b004e,#180052); */
}
.navbar .logo{
    width: 180px
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw,12px);
}
.navbar select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.navbar option{
    background-color: #09005c;
    color: #fff;
}
.navbar button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background: #ff33e8;
    border: none;
    cursor: pointer;
}
.navbar button img{
    width: 13px;
}