@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  min-height: 100vh;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}